---
import Layout from "../layouts/Layout.astro";

let resenas = [];

async function obtenerResenas() {
	const response = await fetch(
		"https://script.google.com/macros/s/AKfycbzTkO5VeaSI4TTozCV1Z3n_C3k-64_S13sB6d4hG5Iuz6fC9E-NUYbYnAocKRKrVB8K/exec",
	);

	if (!response.ok) {
		throw new Error("Error en la respuesta de la red");
	}

	resenas = await response.json();
}

await obtenerResenas();
---

<Layout title="Welcome to Astro.">
	<div id="resenas" class="p-20 grid grid-cols-6 gap-5">
		{
			resenas.length === 0 ? (
				<p>No hay reseñas disponibles.</p>
			) : (
				resenas.map((resena) => (
					<div class="flex flex-col">
						<strong>{resena.nombre}</strong>
						<p>{resena.comentario}</p>
						<p>({resena.calificacion})</p>
					</div>
				))
			)
		}
	</div>
</Layout>
